@mixin pill{
  border-radius:4px;
  background-color:#28f4c6;
  color:#fff;
  margin:5px;
  padding:5px;
}

// web

.clearfloat:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body{
  font-family: 'Lato', sans-serif;
    font-size:14pt;
}

h1,h2{font-weight: normal; color:#fff;
    text-shadow:1px 1px 1px #aaa ;
}
h1{font-size:30vh;}
h2{font-size:15vh;}

@media(max-width: 800px){
    h1{font-size:20vw;}
    h2{font-size:7vw;}
}

h1,h2{text-align: center;margin:0;}

p.lead{
    margin-top:20px;
    margin-bottom:20px;
    font-size:20pt;
}

blockquote{
    background-color: #eee;
    border-radius: 5px;
}

.hero{
    padding-top:20vh;
    background-color:#28f4c6;
    height:100vh;
    box-sizing: border-box;
    padding-left:10vw;
    padding-right:10vw;
}

section#content > p, section#content > h3, section#content > ul{
    max-width: 400px;
}
section#content > hr{
    margin-bottom: 10vh;
}
.tell-me-wrapper{
    width:100%;
    box-sizing: border-box;
    text-align: center;
    a.tell-me{
        @include pill();
        margin: 30px;
        margin-bottom:50px;
        padding: 10px;
        font-size: 15pt;
        display: inline-block;
        text-shadow:1px 1px 1px #aaa ;
    }
}